<div class="center hero-unit">

<h1>PassGenerator</h1>

<h2>Please login:</h2>

<div id="login">


<%= form_for(:session, :url => sessions_path) do |f| %>


<%= f.label :email %> 
<%= f.text_field :email, :id => "emailField" %> <br />

<%= f.label :password %> 
<%= f.password_field :password, :id => "passwordField" %> <br />

<%= f.submit "Login", :id => "submit", :class => "btn btn-primary btn-large" %> <br />
<% end %>



<div class="first_time">
<p>Your first time here?<br />
<%= link_to 'Sign up', {:controller => 'users', :action => 'new'}%> for free.</p>
</div>

<! -- CLOSES LOGIN -- >
</div>

</div>
