<link rel="stylesheet" href="/css/encpassword.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tipswindown.js"></script>
<script type="text/javascript">


function showTipsWindown(title,id,width,height){
	tipsWindown(title,"id:"+id,width,height,"true","","true",id);
}

function confirmTerm(s) {
	parent.closeWindown();
	if(s == 1) {
		parent.document.getElementById("isread").checked = true;
	}
}

function decrypt(key, service_name){
	
}



function popTips(service_name){
	showTipsWindown("jquery", 'simTestContent', 600, 255);
	$("#isread").attr("checked", false);
}

$(document).ready(function(){
	
	//$(".isread-text").click(popTips);
	
});

function storeVariable(service_name){
	popTips(service_name);
}

</script>

<%- model_class = Encpassword -%>
<div class="page-header">
  <h1>Your encrypted passwords:</h1>
</div>

<% unless @encpasswords.empty? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:service) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @encpasswords.each do |encpassword| %>
      <tr>

        

        <td>
        	<%= if encpassword.service_url
        		link_to encpassword.service, encpassword.service_url
        		else encpassword.service 
        		end %>
        	</td>
        <td><%=l encpassword.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_encpassword_path(encpassword), :class => 'btn btn-mini' %>
          <%= button_to t('.destroy', :default => t("helpers.links.destroy")),
                      encpassword_path(encpassword),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
 
        </td>
      </tr>
      <tr>
      	<td class="agree">
			<input type="button" class="isread-text" id=<%= encpassword.service %>  value="view password" onClick="storeVariable(this.id)"></input>
		</td><!--agree end-->
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @encpasswords.empty? %>
	<br />
	<div class="centerize">
	<p><%= 'You do not have any passwords. Click "Create New Password" to make one!' %></p>
	</div>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.Create New Password")),
            new_encpassword_path,
            :class => 'btn btn-primary' %>




<div style="display:none;">

	<div id="simTestContent" class="simScrollCont">
	
		<div class="mainlist">
			<div class="control-group">
	    		<label id="service_name">Master Password</label>
		    	<div>
		    		<input type="text" name="thelength" id="thelength" size=20 value="" class="text_field"/>
		    	</div>
	  		</div>
		</div>
		
		<table>
			<tr>
		<td ><input type="button" id="confirmTerm" value="accept" onClick="confirmTerm(1);" class="confirmBtn"/></td>
		<td ><input type="button" id="confirmTerm" value="close" onClick="confirmTerm(1);" class="confirmBtn"/></td>
		</tr>
		</table>
	</div><!--simTestContent end-->
	
</div>
