<%- model_class = Encpassword -%>
<div class="page-header">
  <h1>Your encrypted passwords:</h1>
</div>

<% unless @encpasswords.empty? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:service) %></th>
      <th> </th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @encpasswords.each do |encpassword| %>
      <tr>
        <td>
        	<%= if encpassword.service_url
        			link_to encpassword.service, encpassword.service_url
        		else encpassword.service 
        		end %>
        </td>
        	<td><a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal" onclick="myfunc(this.id)" id=<%= encpassword.service %>>View Password</a></td>
        <td><%=l encpassword.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_encpassword_path(encpassword), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      encpassword_path(encpassword),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @encpasswords.empty? %>
	<br />
	<div class="centerize">
	<p><%= 'You do not have any passwords. Click "Create New Password" to make one!' %></p>
	</div>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.Create New Password")),
            new_encpassword_path,
            :class => 'btn btn-primary' %>




<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Enter your master password...</h3>
    <p>We need you to type in your master password because we don't know it!</p>
  </div>
  <div class="modal-body">
  	
		    		<%= form_tag({:controller => "encpasswords", :action => "decrypt"})  do%>

					
					<%= password_field_tag "Master_Password" %>


					<div style="display:none;">
					<%= label_tag("Service Name") %>
					<%= text_field_tag "service" %>
					</div>
					
					<br />
					<%= submit_tag ("Submit"), :id => "submit", :class => "btn btn-primary btn-large" 	 %>
					<button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>

	<% end %>
  </div>
</div>